---
layout: default
title:
---

<!-- Show last 5 posts here -->
{% for post in site.posts limit: 5  %}
	<article>

        <header>
			{%if post.link %} 
			<h2><a href="{{site.baseurl}}{{post.link}}">{{ post.title }}</a>
				<a href="{{post.url}}"><i class="fa fa-link"></i></a><br><time align="right" datetime="{{post.date|date:"%F"}}">{{post.date|date:"%d. %b %Y"}} </time></h2>
			{% else %}
			<h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a><br><time align="right" datetime="{{post.date|date:"%F"}}">{{post.date|date:"%d. %b %Y"}} </time></h2>
			{% endif %}
        </header>
		
		<div class="entry">{{ post.content }}</div>
		
	</article>
	<hr>
{% endfor %}

<h2 align="center">
<a href="{{site.baseurl}}/feed.xml"><i class="fa fa-rss"> RSS</i></a>
</h2>